
body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0;
}

.header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 2rem;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100rem;
    margin: 0 auto;
    padding: 20px;
}

.item {
    width: 25rem;
    min-height: 25rem;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

.item h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.item p {
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: left;
}

.item a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}


.download{
    background-color: #00cc66;
}

.download:hover {
    background-color: #009933;
}

.github{
    background-color: rgb(40, 36, 58);
    color: white;
}

.github:hover{
    background-color: rgb(0, 0, 0);
}

.spigot{
    background-color: #da7d13;
}

.spigot:hover {
    background-color: #be6200;
}

.about-section {
    padding: 20px;
    padding-bottom: auto;
    background-color: #c9c9c9;
    text-align: center;
}

.about-section h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 1.2em;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}

.contact-section {
    padding: 20px;
    background-color: #c9c9c9;
    text-align: center;
}

.contact-section h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.contact-section p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #666;
}

.contact-section .contact-info p{
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
    padding: 0;
}

img{
    text-align: center;
    margin-bottom: 5px;
}

