
body {
    font-family: Arial, sans-serif;
    background-color: rgb(189, 189, 189);
    margin: 0;
    margin-left: 20rem;
}

html {
    scroll-behavior: smooth;
}
  

aside{
    width: 17rem;
    height: 100%;
    margin-left: -20rem;
    float: left;
    overflow: hidden;
    background-color: rgb(46, 46, 46);
    color: rgb(155, 155, 155);
    overflow-y: hidden;
    position: fixed;
}

nav ul{
    list-style: none;
}

nav ul li{
    padding-bottom: 5%;
}

nav ul li a{
    text-decoration: none;
    color: rgb(155, 155, 155);
    margin-left: -4.5%;
    padding-bottom: 5%;
    font-weight: bold;
}

.header {
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 2rem;
    color: white;
}

.contact-section {
    padding: 20px;
    padding-left: 10%;
    text-align: left;
}

.contact-section p{
    font-size: 1em;
    line-height: 1.5;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: left;
    padding: 0;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 0%;
}

aside h1{
    font-size: 1.75rem;
    text-decoration: none;
}

.about-section {
    padding-top: 5rem;
    padding-bottom: 5%;
}

.about-section p {
    font-size: 1.2em;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-right: 20%;
}


.plugins {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100rem;
    margin-left: -3.5%;
    margin-right: 1.5%;
    padding: 2.5%;
    padding-top: 0%;
}

.plugin {
    width: 25rem;
    min-height: 18rem;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

.plugin h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.plugin p {
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: left;
}

.plugin a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    margin-top: 10px;
  }


.download{
    background-color: #00cc66;
}

.download:hover {
    background-color: #009933;
}

.github{
    background-color: rgb(40, 36, 58);
    color: white;
}

.github:hover{
    background-color: rgb(0, 0, 0);
}

.spigot{
    background-color: #da7d13;
}

.spigot:hover {
    background-color: #be6200;
}

img{
    text-align: center;
    margin-bottom: 5px;
}

.reviews{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100rem;
    margin-left: -3%;
    margin-right: 1.5%;
    padding: 2.5%;
    padding-top: 0%;
}

blockquote {
    max-width: 25rem;
    margin: 10px;
    background-color: rgb(212, 212, 212);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

blockquote h3 {
    margin-top: 0;
}